{% extends "DeliveryBoy/delivery_boy_layout.html" %}
{% block body %} 
                  <!-- Work/Task Area container-fluid inner -->
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2 class="d-inline-block">{{ one_record_data_retrieve.rol_name }} Profile & Change Password</h2>
                              <a href="#" data-toggle="modal" data-target="#changePassUserModal{{ one_record_data_retrieve.user_id }}" class="btn btn-primary btn-lg float-right">Change {{ one_record_data_retrieve.rol_name }} Password</a>
                              {% if one_record_data_retrieve.isActive == 1 %}
                              <a href="{{url_for('disable_role_delivery_boy', UserId=one_record_data_retrieve.user_id)}}" class="btn btn-danger btn-circle btn-lg float-right"><i class="fa fa-trash"> Disable Now</i></a>
                              {% else %}
                              <a href="{{url_for('enable_role_delivery_boy', UserId=one_record_data_retrieve.user_id)}}" class="btn btn-success btn-circle btn-lg float-right"><i class="fa fa-handshake"> Enable Now</i></a>
                              {% endif %}
                           </div>
                        </div>
                     </div>

                     <!-- Add a modal for Add New User -->
                     <div class="modal fade" id="changePassUserModal{{ one_record_data_retrieve.user_id }}" tabindex="-1" role="dialog" aria-labelledby="changePassUserModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                    <h5 class="modal-title" id="changePassUserModalLabel">Change Password</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                              <div class="modal-body">
                                    <!-- Form to Add Employee -->
                                    <form action="{{url_for('change_password_delivery_boy', UserId=one_record_data_retrieve.user_id)}}" method="post">
                                       <div class="row mt-3">
                                          <div class="col-md-12">
                                                <label for="exampleInputRD" style="color: black;"><b>Password *</b></label>
                                                <input type="password" class="form-control" name="password" placeholder="************" required />
                                          </div>
                                       </div>
                                       <div class="row mt-3">
                                          <div class="col-md-12">
                                             <label for="exampleInputRD" style="color: black;"><b>Conform Password *</b></label>
                                             <input type="password" class="form-control" name="conform_password" placeholder="************" required />
                                          </div>
                                       </div>
                                       <div class="row mt-3">
                                          <div class="col-md-12 col-sm-12"> 
                                                <button type="submit" class="btn btn-primary btn-lg btn-block"><b>Change Password</b></button> 
                                          </div>
                                       </div>
                                    </form>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- End Add a modal for Add New User -->

                     <!-- start row -->
                     <div class="row column1">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>{{ one_record_data_retrieve.rol_name }} Profile</h2>
                                 </div>
                              </div>
                              <div class="full price_table padding_infor_info">
                                 <div class="row">
                                    <!-- user profile section --> 
                                    <!-- profile image -->
                                    <div class="col-lg-12">
                                       <div class="full dis_flex center_text">
                                          <div class="profile_contant">
                                            <form action="{{url_for('delivery_boy_for_update', UserId=one_record_data_retrieve.user_id)}}" method="post">
                                             <div class="row mt-3">
                                                <div class="col-md-12">
                                                      <label for="exampleInputRD" style="color: black;"><b>Name *</b></label>
                                                      <input type="text" class="form-control" name="name" value="{{one_record_data_retrieve.name}}" placeholder="User Name" required/>
                                                </div>
                                             </div>
                                             <div class="row mt-3">
                                                   <div class="col-md-12">
                                                      <label for="exampleInputRD" style="color: black;"><b>CNIC *</b></label>
                                                      <input type="text" class="form-control" name="cnic" value="{{one_record_data_retrieve.cnic}}"  onkeypress="return onlyNumberKey(event)" maxlength="13" required/>
                                                   </div>
                                             </div>
                                             <div class="row mt-3">
                                                   <div class="col-md-12">
                                                      <label for="exampleInputRD" style="color: black;"><b>Phone No *</b></label>
                                                      <input type="text" class="form-control" name="phone" value="{{one_record_data_retrieve.phone}}" placeholder="03xxxxxxxxx" onkeypress="return onlyNumberKey(event)" maxlength="11" required/>
                                                   </div>
                                             </div>
                                             <div class="row mt-3">
                                                   <div class="col-md-12">
                                                      <label for="exampleInputRD" style="color: black;"><b>Gender *</b></label>
                                                      <select name="gender" class="form-control" required>
                                                         <option value="{{ one_record_data_retrieve.gender }}" style="background-color: rgb(0, 255, 17);" selected>{{ one_record_data_retrieve.gender }}</option>
                                                         <option value="Male">Male</option>
                                                         <option value="Female">Female</option>
                                                      </select>
                                                   </div>
                                             </div>
                                             <div class="row mt-3">
                                                <div class="col-md-12 col-sm-12"> 
                                                      <button type="submit" class="btn btn-primary btn-lg btn-block"><b>Update {{ one_record_data_retrieve.rol_name }}</b></button> 
                                                </div>
                                             </div>
                                          </form>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-2"></div>
                        </div>
                        <!-- end row -->
                     </div>
                     <!-- end row -->
                     
                  </div>
                  
{% endblock %}                 