{% extends "DeliveryBoy/delivery_boy_layout.html" %}
{% block body %} 
    <!-- Work/Task Area container-fluid inner -->
    <div class="container-fluid">
      <div class="row column_title">
          <div class="col-md-12">
              <div class="page_title">
                  <h2>Dashboard</h2>
              </div>
          </div>
      </div>

      <!-- Small boxes (Stat box) -->
      <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ "total_projects" }}</h3>

                <p>Total Project</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/project_details" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ "total_employees" }}</h3>

                <p>Total Users</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-stalker"></i>
              </div>
              <a href="/role" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ "today_expense" }}<sup style="font-size: 20px"></sup></h3>

                <p>Total Form-B Request</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/view_request_formb" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ "total_expense" }}<sup style="font-size: 20px"></sup></h3>

                <p>Total Complaint </p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/complaint_response" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
      </div>
      <!-- /.row -->





  </div>
    <!-- end Work/Task Area container-fluid inner -->
{% endblock %}
