{% extends "DeliveryBoy/delivery_boy_layout.html" %}
{% block body %} 
                  <!-- Work/Task Area container-fluid inner -->
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2 class="d-inline-block">View Drop Location Details</h2>
                           </div>
                        </div>
                     </div>

                     <!-- start row -->
                     <div class="row">
                        <!-- start table section Hover Table -->
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Location Details</h2>
                                 </div>
                              </div>
                              <div class="table_section padding_infor_info">
                                 <div class="table-responsive-sm">
                                    <table id="dataTable" class="table table-hover table-bordered table-striped">
                                       <thead class="thead-light">
                                          <tr>
                                             <th>Id#</th>
                                             <th>Deliver To</th>
                                             <th>Address</th>
                                             <th>Parent Received</th>
                                             <th>Handover To DB</th>
                                             <th>Last Updated Delivery</th>
                                             <th>Status</th>
                                             <th>Action</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                       {% for db_drop in delivery_boy_drop_data_retrieve %}
                                          <tr>
                                             <td>{{loop.index}}</td>
                                             <td>{{db_drop.parent_data.father_name}}</td>
                                             <td>{{db_drop.drop_address}}</td>
                                             <td>{{db_drop.parent_data.delivery_status}}</td>
                                             <td>{{db_drop.created_at}}</td>
                                             <td>{{db_drop.updated_at}}</td>
                                             <td>
                                                {% if db_drop.status == 'OnTheWay' %}
                                                <button type="button" class="btn btn-warning btn-sm">{{db_drop.status}}</button>
                                                {% elif db_drop.status == 'Return' %}
                                                <button type="button" class="btn btn-danger btn-sm">{{db_drop.status}}</button>
                                                {% else %}
                                                <button type="button" class="btn btn-success btn-sm">{{db_drop.status}}</button>
                                                {% endif %}
                                             </td>
                                             <td>
                                                <div class="btn-group">
                                                   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     Action
                                                   </button>
                                                   <div class="dropdown-menu">
                                                     
                                                     {% if db_drop.status == 'OnTheWay' %}
                                                     <a href="{{ url_for('successful_deliver_by_db', HoId=db_drop.ho_id, ParId=db_drop.par_id) }}" class="btn btn-success btn-circle btn-block btn-md">
                                                         <i class="fa fa-check-circle"> Successful Deliver</i>
                                                      </a>
                                                      <a href="{{url_for('return_delivery_by_db', HoId=db_drop.ho_id, ParId=db_drop.par_id)}}" class="btn btn-danger btn-circle btn-block btn-md">
                                                         <i class="fa fa-truck"> Return</i>
                                                      </a>
                                                      {% else %}
                                                      <a href="#" class="btn btn-success btn-circle btn-block btn-md disabled" aria-disabled="true">
                                                         <i class="fa fa-check-circle"> Finalized</i>
                                                      </a>
                                                      {% endif %}
                                                   </div>
                                                 </div>
                                             </td>
                                          </tr>

                                       {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end table section Hover Table -->
                     </div>
                     <!-- end row -->

                     
                  </div>
                  
{% endblock %}                 