{% extends "Administrator/layout.html" %}
{% block body %} 
                  <!-- Work/Task Area container-fluid inner -->
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2 class="d-inline-block">Form-B Print & Details</h2>
                           </div>
                        </div>
                     </div>

                     <!-- start row -->
                     <div class="row">
                        <!-- start table section Hover Table -->
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Form-B Details</h2>
                                 </div>
                              </div>
                              <div class="table_section padding_infor_info">
                                 <div class="table-responsive-sm">
                                    <table class="table table-hover">
                                       <thead class="thead-light">
                                          <tr>
                                             <th>CRC No#</th>
                                             <th>F.Name</th>
                                             <th>F.CNIC</th>
                                             <th>M.Name</th>
                                             <th>M.CNIC</th>
                                             <th>Address</th>
                                             <th>Form-B</th>
                                             <th>HandOver To DB</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                       {% for formb in forward_to_admin_0 %}
                                          <tr>
                                             <td>{{formb.crc_no}}</td>
                                             <td>{{formb.father_name}}</td>
                                             <td>{{formb.father_cnic}}</td>
                                             <td>{{formb.mother_name}}</td>
                                             <td>{{formb.mother_cnic}}</td>
                                             <td>{{formb.address}}</td>
                                             <td>
                                                <a href="{{url_for('form_b_print', ParId=formb.par_id)}}" class="btn btn-primary btn-circle btn-block btn-md">
                                                   <i class="fa fa-print"> Print</i>
                                                </a>
                                             </td>
                                             <td>
                                                {% if formb.delivery_status == 'No' %}
                                                   <a href="#" data-toggle="modal" data-target="#viewHandOverFormBDataModal{{ formb.par_id }}" class="btn btn-success btn-circle btn-block btn-md">
                                                      <i class="fa fa-handshake"> HandOver Form-B</i>
                                                   </a>
                                                {% else %}
                                                   <a href="#" class="btn btn-primary btn-circle btn-block btn-md disabled" tabindex="-1" role="button" aria-disabled="true">
                                                      <i class="fa fa-truck"> On The Way</i>
                                                   </a>
                                                {% endif %}
                                             </td>
                                          </tr>
                                          <!-- View a modal for View Form B -->
                                          <div class="modal fade" id="viewHandOverFormBDataModal{{ formb.par_id }}" tabindex="-1" role="dialog" aria-labelledby="viewHandOverFormBDataModalLabel" aria-hidden="true">
                                             <div class="modal-dialog modal-sm" role="document">
                                                <div class="modal-content">
                                                   <div class="modal-header">
                                                         <h5 class="modal-title" id="viewHandOverFormBDataModalLabel">HandOver Form-B To Delivery Boy </h5>
                                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                         </button>
                                                   </div>
                                                   <div class="modal-body">
                                                      <form action="{{url_for('form_b_handover_to_db', ParId=formb.par_id)}}" method="post">
                                                         <div class="row mt-3">
                                                            <div class="col-md-12">
                                                                  <label for="exampleInputRD" style="color: black;"><b>Delivery Boy Name *</b></label>
                                                                  <select class="form-control" name="delivery_boy_name" id="delivery-boy-name" required>
                                                                     {% for delivery in delivery_boy %}
                                                                        <option value="{{ delivery.user_id }}">{{ delivery.name }}</option>
                                                                     {% endfor %}
                                                                  </select>
                                                            </div>
                                                         </div>                                                      
                                                         <div class="row mt-3">
                                                            <div class="col-md-12 col-sm-12"> 
                                                               <button type="submit" class="btn btn-success btn-lg btn-block"><b><i class="fa fa-handshake"> HandOver</i></b></button> 
                                                            </div>
                                                         </div>
                                                      </form>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- End view a modal for View Form B -->
                                       {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end table section Hover Table -->
                     </div>
                     <!-- end row -->

                     
                  </div>
                  
{% endblock %}                 