{% extends "Administrator/layout.html" %}
{% block body %} 
                  <!-- Work/Task Area container-fluid inner -->
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2 class="d-inline-block">All Delivery Boy Details</h2>
                           </div>
                        </div>
                     </div>

                     <!-- start row -->
                     <div class="row">
                        <!-- start table section Hover Table -->
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Delivery Boy Details</h2>
                                 </div>
                              </div>
                              <div class="table_section padding_infor_info">
                                 <div class="table-responsive-sm">
                                    <table class="table table-hover">
                                       <thead class="thead-light">
                                          <tr>
                                             <th>No#</th>
                                             <th>Name</th>
                                             <th>Phone</th>
                                             <th>CNIC</th>
                                             <th>Gender</th>
                                             <th>District</th>
                                             <th>Status</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                       {% for delivery_boy in all_delivery_boy_data_retrieve %}
                                          <tr>
                                             <td>{{loop.index}}</td>
                                             <td>{{delivery_boy.name}}</td>
                                             <td>{{delivery_boy.phone}}</td>
                                             <td>{{delivery_boy.cnic}}</td>
                                             <td>{{delivery_boy.gender}}</td>
                                             <td>{{delivery_boy.district.district_name}}</td>
                                             <td>
                                                {% if delivery_boy.delivery_status == 'Pending' %}
                                                <button type="button" class="btn btn-warning btn-sm">{{delivery_boy.delivery_status}}</button>
                                                {% elif delivery_boy.delivery_status == 'OutOfDelivery' %}
                                                <button type="button" class="btn btn-info btn-sm">{{delivery_boy.delivery_status}}</button>
                                                {% elif delivery_boy.delivery_status == 'NotAvailable' %}
                                                <button type="button" class="btn btn-danger btn-sm">{{delivery_boy.delivery_status}}</button>
                                                {% else %}
                                                <button type="button" class="btn btn-success btn-sm">{{delivery_boy.delivery_status}}</button>
                                                {% endif %}
                                             </td>
                                          </tr>

                                       {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end table section Hover Table -->
                     </div>
                     <!-- end row -->

                     
                  </div>
                  
{% endblock %}                 